<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ empleados }}</title>
    <style>
        th, td {
            padding: 1rem;
            border: 0.1rem solid gray;
            border-radius: 0.5rem;
        }
    </style>
</head>
<body>
    
    <table>
        <thead>
            <tr>
                {% if atributos %}
                    <th>Nombre</th>
                    <th>Edad</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
                {% for atributo in atributos %}
                    <tr>
                        <td>{{ atributo.nombre }}</td>
                        <td>{{ atributo.edad }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

</body>
</html>